<h1><%= @name %></h1>
<h2>Food Level: <%= @food_level %></h2>
<h2>Attention Level: <%= @attention_level %></h2>
<h2>Sleep Level: <%= @sleep_level %></h2>
<h2>Exercise Level: <%= @exercise_level %></h2>
<h2>Asleep? <%= @sleep %></h2>
<a href="/feed">Feed</a>
<a href="/exercise">Exercise</a>
<a href="/attention">Attention</a>
<a href="/sleep">Put to sleep</a>
<a href="/wake_up">Wake up!</a>
